# ===== BOT =====
BOT_NAME=L1TTL3B0Y ULTRA PRO V3
PREFIX=!

# ===== DONO =====
OWNER_NAME=Isaías Pedro
OWNER_NUMBER=244926612801

# ===== APIS =====
GROQ_API_KEY=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
GEMINI_API_KEY=
OPENAI_API_KEY=

# ===== CONFIG =====
AUTO_READ=true
AUTO_TYPING=false
AUTO_RECORDING=false
