node_modules/
sessao/
downloads/*
!downloads/.gitkeep
vpn/*
!vpn/.gitkeep
dados/*.jpg
.env
*.log
.sessao
.DS_Store
*.mp4
!configs/LOGOS/*.mp4
configs/LOGOS/fotomenu.mp4
configs/LOGOS/fotomenu.png
temp*
ogg_*
mus_*
vid_*
